body {
  background-image: url("background2.jpg");
  background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  background-color: #161618;
  color: #f1e7f8;
  font-family: 'Courier New', monospace;
  font-size: 16pt;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
  transition-duration: 0.2s;
}

.remote {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.left {
  display: grid;
}

.right {
  display: grid;
  width: 100%;
}

.hstr {
  position: absolute;
  overflow-y: scroll;
  max-height: 100%;
  width: 100%;
  left: 0;
  top: 24px;
  bottom: 40px;
  padding: 8px 0px;
}

.clockstack {
  display: flex;
  height: auto;
  max-height: 164px;
  min-height: 164px;
}

.main {
  background-color: #303044;
  opacity: 0.94;
  height: auto;
  padding: 8px 24px;
  border-radius: 5px;
  margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
	transition-duration: 0.4s;
	box-shadow: 0px 2px #00000044;
}

.main.bar {
  margin-top: 20px;
  position: relative;
	max-width: 880px;
	min-width: 320px;
	min-height: 36px;
	background-color: #545466;
	display: flex;
}

.minecraft {
  position: absolute;
  display: grid;
  left: 48px;
  top: 1px;
  bottom: 1px;
  background-color: #00000044;
  padding: 10px 16px;
  font-weight: bold;
}

.version {
  font-size: 12pt;
  font-family: 'Trebuchet MS', sans-serif;
}

.actiondesc {
  font-size: 8pt;
}

.main.monitor {
  position: relative;
  float: left;
	min-width: 320px;
	background-color: #00000044;
}

.main.message {
  float: left;
  height: auto;
  height: 160px;
}

.form {
  display: flex;
}

.main.chat {
  float: right;
  width: 100%;
}

.main.chrono {
  background-image: url("sunmoonh2.svg"), url("panehalf.svg");
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-position: bottom center, bottom center;
  float: right;
  width: 100%;
  background-color: #aaaaaa;
  color: #110e13;
  text-shadow:
    1px 1px 2px #00000044,
    0 0 1em #ffffff44,
    0 0 0.2em #ffffff44;
  transition-duration: 1s;
}

.main.clock {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 32pt;
  background-color: #aaaacc;
  color: #110e13;
  float: right;
  padding: 16px 24px;
}

.indicator {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 50px;
  height: auto;
  border-radius: 5px;
  padding: 1px;
  background-color: #aaaaaa;
}

.action {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background-image: url("power.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #1e1e1e;
  border-color: transparent;
  border-radius: 4px;
  width: 50px;
  color: #f1e7f8;
}

.action:hover {
  background-color: #441618;
}

.chatter {
  width: 40px;
  height: auto;
  margin-left: 8px;
  background-image: url("send.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #7789c9;
  border-color: transparent;
  border-radius: 4px;
  color: #f1e7f8;
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
}

.chatter:hover {
  background-color: #aaaaaa;
}

.small {
  font-size: 8pt;
}

.fineleft {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  font-size: 10pt;
}

.fineright {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 10pt;
  color: #7789c9;
}

.sender {
  position: absolute;
  width: 85%;
  height: auto;
  top: 2px;
  bottom: 2px;
  left: 2px;
  background-color: #101033;
  border-color: transparent;
  outline: none;
  border-radius: 4px;
  color: #f1e7f8;
  margin-right: 10px;
}

.onlinecount {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 4px 0px 0px 0px;
  padding: 6px 4px;
  background-color: #aaaaff;
  color: #002200;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
  font-size: 8pt;
}

.namer {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  width: 122px;
  background-color: #121222;
  border-color: transparent;
  outline: none;
  border-radius: 4px;
  color: #7789c9;
  margin-left: auto;
}

.iconed {
  padding: 6px 6px;
}

.day{
  max-width: 50%;
  margin-bottom: 2px;
  font-size: 26pt;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: lighter;
}

.barright {
  position: absolute;
  border-radius: 0px 4px 4px 0px;
  padding: 10px 16px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  background-color: #00000044;
  margin-left: auto;
}

.baredge {
  display: grid;
}

.ip {
  margin-top: auto;
  text-align: center;
  margin-bottom: auto;
  min-width: 160px;
  max-height: 12px;
  border-radius: 2px;
  font-size: 10pt;
  transition-duration: 0.4s;
  padding: 4px;
}

.daytime {
  max-width: 40%;
  margin-top: 36px;
  margin-bottom: auto;
  font-size: 8pt;
  font-family: 'Trebuchet MS', sans-serif;
}

.follower {
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  font-size: 8pt;
  font-weight: bold;
}

.lamp {
  margin-top: auto;
  margin-right: 5px;
  margin-bottom: auto;
  font-size: 12pt;
  font-family: 'Trebuchet MS', sans-serif;
  color: #aaaaaa;
}

.diode {
  max-height: 12px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 4px;
}

.main.messenger {
  position: absolute;
  width: auto;
  height: 24px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 8px 12px;
  border-radius: 0px 0px 5px 5px;
}

.main.social {
  display: flex;
  border-radius: 5px 5px 0px 0px;
  font-size: 12pt;
  position: absolute;
  width: auto;
  height: 24px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0px 12px;
}

.msg {
  background-color: #aaaacc22;
  color: #aaaaaa;
  margin-bottom: 10px;
  margin-left: 16px;
  border-radius: 2px;
  width: 88%;
  font-size: 12pt;
  padding: 4px 8px;
  word-wrap: break-word;
  box-shadow: 0px 2px #00000044;
  text-shadow: 0px 1px #00000044;
}
.author {
  font-size: 10pt;
  color: #33ddff;
  font-weight: bold;
  margin-left: 10px;
}

.plain {
  font-size: 10pt;
}

.effect {
  position: absolute;
  left: 0px;
  top: 1px;
  bottom: 1px;
  width: 0%;
  background-color: #88ff88;
  transition-duration: 0.4s;
}
