body {
  background-image: url("background2.jpg");
  background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  background-color: #161618;
  color: #f1e7f8;
  font-family: 'Courier New', monospace;
  font-size: 16pt;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
  transition-duration: 0.2s;
}

.remote {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background-color: black;
}

.login {
  display: grid;
}

.left {
  display: grid;
}

.right {
  display: grid;
  width: 100%;
}

.hstr {
  position: absolute;
  overflow-y: scroll;
  max-height: 100%;
  width: 100%;
  left: 0;
  top: 24px;
  bottom: 40px;
  padding: 8px 0px;
}

.clockstack {
  display: flex;
  height: auto;
  max-height: 164px;
  min-height: 164px;
}

.main {
  background-color: #303044;
  opacity: 0.94;
  height: auto;
  padding: 8px 24px;
  border-radius: 5px;
  margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
	transition-duration: 0.4s;
	box-shadow: 0px 2px #00000044;
}

.main.bar {
  margin-top: 20px;
  position: relative;
	max-width: 880px;
	min-width: 320px;
	min-height: 36px;
	background-color: #545466;
	display: flex;
}

.minecraft {
  position: absolute;
  display: grid;
  left: 48px;
  top: 1px;
  bottom: 1px;
  background-color: #00000044;
  padding: 10px 16px;
  font-weight: bold;
}

.version {
  font-size: 12pt;
  font-family: 'Trebuchet MS', sans-serif;
}

.actiondesc {
  font-size: 8pt;
}

.main.monitor {
  position: relative;
  float: left;
	min-width: 320px;
	background-color: #00000044;
}

.main.message {
  float: left;
  height: auto;
  height: 160px;
}

.form {
  display: flex;
}

.main.chat {
  float: right;
  width: 100%;
}

.main.chrono {
  background-image: url("sunmoonh2.svg"), url("panehalf.svg");
	background-repeat: no-repeat, no-repeat;
	background-size: cover, cover;
	background-position: bottom center, bottom center;
  float: right;
  width: 100%;
  background-color: #aaaaaa;
  color: #110e13;
  text-shadow:
    1px 1px 2px #00000044,
    0 0 1em #ffffff44,
    0 0 0.2em #ffffff44;
  transition-duration: 1s;
}

.main.clock {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 32pt;
  background-color: #aaaacc;
  color: #110e13;
  float: right;
  padding: 16px 24px;
}

.indicator {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 50px;
  height: auto;
  border-radius: 5px;
  padding: 1px;
  background-color: #aaaaaa;
}

.action {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  background-image: url("power.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #1e1e1e;
  border-color: transparent;
  border-radius: 4px;
  width: 50px;
  color: #f1e7f8;
}

.action:hover {
  background-color: #441618;
}

.chatter {
  width: 40px;
  height: auto;
  margin-left: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #7789c9;
  border-color: transparent;
  border-radius: 4px;
  color: #f1e7f8;
}

.chatter:hover {
  background-color: #aaaaaa;
}

.sender {
  background-color: #101033;
  border-color: transparent;
  outline: none;
  border-radius: 4px;
  color: #f1e7f8;
  margin-right: 10px;
}

.report {
  font-size: 12pt;
}
