body {
  background-image: url("background2.jpg");
  background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  background-color: #161618;
  color: #f1e7f8;
  font-family: 'Courier New', monospace;
  font-size: 16pt;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
  transition-duration: 0.2s;
}

.remote {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.main {
  background-color: #303044;
  opacity: 0.94;
  height: auto;
  padding: 8px 24px;
  border-radius: 5px;
  margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
	transition-duration: 0.4s;
}

.login {
  display: grid;
  min-width: 220px;
}

.loga {
  position: relative;
  min-height: 136px;
}

.auth {
  position: relative;
  min-height: 36px;
}

.who {
  color: cyan;
  font-size: 10pt;
}

.fields {
  position: absolute;
  left: 10px;
  right: 10px;
  display: grid;
}

.roles {
  position: absolute;
  bottom: 0px;
  top: 60px;
  left: 8px;
  right: 8px;
  overflow-y: scroll;
  max-height: 100%;
}

.sender {
  background-color: #101033;
  border-color: transparent;
  outline: none;
  border-radius: 4px;
  color: #f1e7f8;
  margin-right: 10px;
  max-height: 20px;
}

.report {
  font-size: 12pt;
  margin-top: 10px;
}

.role {
  font-size: 8pt;
  margin-top: 10px;
  margin-right: 16px;
  background-color: pink;
  padding: 6px;
  border-radius: 4px;
  color: black;
  font-weight: bold;
}

.verifier {
  background-image: url("send.svg");
  margin-top: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #7789c9;
  border-color: transparent;
  border-radius: 0px 0px 5px 5px;
  color: #f1e7f8;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.verifier:hover {
  background-color: #aaaaaa;
}

.verifier:active {
  background-color: #000000;
}

.directorer {
  max-width: 0px;
  background-color: #66668800;
}

.viewer {
  max-width: 0px;
  background-color: #66668800;
}
