body {
  background-color: #161618;
  color: #f1e7f8;
  font-family: 'Courier New', monospace;
  font-size: 16pt;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

button {
  transition-duration: 0.2s;
}

.remote {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  position: relative;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.main {
  background-color: #303044;
  opacity: 0.94;
  height: auto;
  padding: 8px 24px;
  border-radius: 5px;
  margin-top: 6px;
	margin-bottom: 6px;
	margin-left: 6px;
	margin-right: 6px;
	transition-duration: 0.4s;
}

.login {
  display: grid;
  min-width: 220px;
}

.loga {
  position: relative;
  min-height: 136px;
}

.auth {
  position: relative;
  min-height: 36px;
}

.who {
  color: cyan;
  font-size: 10pt;
}

.fields {
  position: absolute;
  left: 10px;
  right: 10px;
  display: grid;
}

.roles {
  position: absolute;
  bottom: 0px;
  top: 60px;
  left: 8px;
  right: 8px;
  overflow-y: scroll;
  max-height: 100%;
}

.directory {
  position: absolute;
  bottom: 22px;
  top: 22px;
  left: 0px;
  right: 0px;
  overflow-y: scroll;
  max-height: 100%;
}

.sender {
  background-color: #101033;
  border-color: transparent;
  outline: none;
  border-radius: 4px;
  color: #f1e7f8;
  margin-right: 10px;
  max-height: 20px;
}

.report {
  font-size: 12pt;
  margin-top: 10px;
}

.role {
  font-size: 8pt;
  margin-top: 4px;
  margin-right: 16px;
  background-color: pink;
  padding: 6px;
  border-radius: 4px;
  color: black;
  font-weight: bold;
}

.menuitem {
  font-size: 8pt;
  margin-top: 4px;
  margin-left: 16px;
  margin-right: 16px;
  background-color: #cccccc;
  padding: 2px 6px;
  border-radius: 4px;
  color: black;
  font-weight: bold;
}

.menudir {
  font-size: 8pt;
  margin-top: 4px;
  margin-left: 16px;
  margin-right: 16px;
  height: 22px;
  background-color: #888866;
  padding: 2px 6px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.menuitem:hover {
  background-color: #aaaaaa;
}

.verifier {
  margin-top: 40px;
  background-color: #7789c9;
  border-color: transparent;
  border-radius: 0px 0px 5px 5px;
  color: #f1e7f8;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.return {
  background-color: #333344;
  border-color: transparent;
  border-radius: 5px 5px 0px 0px;
  color: #f1e7f8;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.newfile {
  margin-top: 40px;
  background-color: #333344;
  border-color: transparent;
  border-radius: 0px 0px 0px 5px;
  color: #f1e7f8;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 50%;
}

.delfile {
  margin-top: 40px;
  background-color: #334433;
  border-color: transparent;
  border-radius: 0px 0px 5px 0px;
  color: #f1e7f8;
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 0px;
}

.renamer {
  background-color: #334433;
  border-color: transparent;
  border-radius: 0px 5px 0px 0px;
  color: #f1e7f8;
  position: absolute;
  top: 0px;
  left: 50%;
  right: 0px;
}

.assigner {
  background-color: #334433;
  border-color: transparent;
  border-radius: 5px 0px 0px 0px;
  color: #f1e7f8;
  position: absolute;
  top: 0px;
  right: 50%;
  left: 0px;
}

button:hover {
  background-color: #aaaaaa;
}

button:active {
  background-color: #000000;
}

.directorer {
  min-width: 166px;
  background-color: #000008;
  position: relative;
}

.viewer {
  width: 100%;
  min-width: 200px;
  background-color: #000008;
  position: relative;
}

.token {
  font-size: 4pt;
  color: grey;
}

.fileview {
  position: absolute;
  left: 8px;
  right: 0px;
  top: 70px;
  bottom: 48px;
  background-color: #101022;
  border-color: transparent;
  outline: none;
  border-radius: 0px;
  color: #f1e7f8;
  margin-right: 10px;
  resize: none;
}

.filename {
  position: absolute;
  left: 8px;
  right: 0px;
  top: 46px;
  background-color: #101022;
  border-color: transparent;
  outline: none;
  border-radius: 4px 4px 0px 0px;
  color: #f1e7f8;
  margin-right: 10px;
  resize: none;
}

.accesslist {
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  left: 8px;
  right: 0px;
  bottom: 24px;
  background-color: #101022;
  border-color: transparent;
  outline: none;
  color: #f1e7f8;
  margin-right: 10px;
  resize: none;
}

.point {
  position: absolute;
  top: 22px;
  left: 8px;
  right: 8px;
  font-size: 9pt;
  padding: 6px 0px;
}
